body {background-color: lightgray;}
.column {
  float: left;
  width: 33%;
  background-color: white;
  padding: 25px;
}

.row {
  display: flex;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: red;
}

hr {
  border-top: 1px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 95%;
  }
  .row {
    display: table;
  }
}
